
.fa-user{
    font-size: 40px;
    position: absolute;
    line-height: 40px;
}
.at-ellipsis{
line-height: 40px;
}
i{
    color: grey;  
}
@media only screen and (min-width: 576px){
        .at-back-btn{
            text-align: right;
        }
        .at-create-btn{
            text-align: left;
        }
    }
